<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Southside Park Neighborhood Association</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About Us</a></li>
					<li><a href="/membership" class="link">Become a Member</a></li>
					<li><a href="/calendar" class="link">Calendar</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/southsideparkneighborhoodassociation" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://nextdoor.com/g/dyx7ncmca/" "svg" "icons-nextdoor") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
